
#container{
    margin: 150px 300px;
    width: 800px;
    height: 600px;
}

#container #header{
    font-size: medium;
    display: inline;
}

label{
    font-size: 20px;
}

.stock{
    border-top-style: solid ;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 1px;
    border-color: rgb(161, 238, 161);
    margin-top: 5px;
    border-radius: 10px;
    width: 450px;
    height: 30px;
    padding-left: 30px;
    padding-bottom: 70px;
}

.stock div{
    display: inline;
    padding-right: 20px;
    margin-right: 10px;
    align-items: center;
    border-right-style: groove ;
    border-color: #87ECF9;
    border-width: 1px;
    padding-left: 5px;
    padding-top: 10px;

}

.stock div button{
    background-color: white;
    border: 0ch;
    border-color: aliceblue;
}


#buttonAdd{
    background-color: rgb(166, 234, 229);
    border-color: rgb(200, 224, 245);
    font-size: medium;
    padding: 5px 30px;
    border-radius: 5px;
    
}


.label{
    text-align: center;
    align-content: center;
}

